body{

    background-image: linear-gradient(to bottom right , white, skyblue);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
  
}
.nav-bar{
padding-top: 10px;
display:flex;
justify-content: space-between;
/* background-image: linear-gradient(to left , skyblue, white); */
background-color: skyblue;
z-index: 1000;
height: 130px; 
position: fixed;
top: 0px;
width: 100%;
}

.main{
  margin-top: 150px;
}
h1, h2, h3, h4,p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
  border: 0.5px solid black;
  width: 90%;
}
.logo-container{
    flex: 50%;
    align-items: left;
}
.logo-img{
    border-radius: 50%;
    border: 1px solid black;
}
.link-container{
    flex: 50%; 
}

ul {
    list-style-type: none;
    overflow: hidden;
  }
  
  header li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-decoration: none;
  }
  
  li a:hover {
    color: black;
  }
  
  footer{
    background-color: black;
    width: 100%;
    margin-top: auto;
    height: 150px;
    overflow: hidden;
    align-items: center;
    color: white;
    display:flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .name-container{
    flex: 1;
  }
  .details-container{
    flex:1;
    color:white;
    

  }

footer a{
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  footer a:hover, .nav-bar a:hover {
    color: skyblue;
    position: relative;
    text-decoration: none;
    overflow: hidden;
  }
footer a::before, .nav-bar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  footer a:hover::before, .nav-bar a:hover::before {
    transform: scaleX(1);
  }
  footer h2{
    font-size: large;
  }

  .nav-bar a{
    position: relative;
    color: black;
  }
  .nav-bar a:hover{
    color: black;
  }
  /*

  ABOUT PAGE

  */
  .block h3{
    text-decoration: underline;
  }

  .about-container, .leadership-container, .tv-container, .achievements-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;

  }
.profile-container, .skills-container, .sub-house, .class-rep, .mentorship, .project-management, .r4w, .inf, .golden-key, .mams{
  
  padding: 20px;
  margin-right: 10px;
  flex: 1 1 45%;
  box-sizing: border-box;

}

  .skills-container,  #music-releases {
    flex: 50%;
    padding: 20px;
    
  } 
  #skills-pills{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  .skills-skill{
    background-color: aliceblue; 
    border-radius: 20px;
    height: 40px;
    align-content: center;
    width: 80px;
    padding: 5px;
    
  }

/* -----------------------------------------------------------------------------------------------
 
Leadership

-----------------------------------------------------------------------------------------------*/ 

.leadership-container{
  display: flex;
  
  align-items: flex-start; 
  justify-content: space-between;
  
}

.sub-house, .class-rep{
  padding: 20px;
  margin-right: 10px;
  flex: 1 1 45%;
  box-sizing: border-box;

}

/*-----------------------------------------------------------------------------------------------
 
training and volunteering

-----------------------------------------------------------------------------------------------*/
.column-nation{
  column-count: 3;

}

.r4w, .mentorship, .project-management{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
#training-section img{
  height: 220px;
  width: 220px;
  border-radius: 5px;
  border:1px solid black;
}
/*-----------------------------------------------------------------------------------------------
 
Achievements

-----------------------------------------------------------------------------------------------*/
.column-nation{
  column-count: 3;

}

.inf, .mams, .golden-key{
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}



/* ----------
hobbies

*/
  .hobbies{
    align-items: center;
    padding: 10px 40px 10px 40px;
  }
/*

Music

*/




  #profile-content, #music-profile{
    flex: 50%;
  
  }
  .music-container{
    display: flex;
  }
  #music-profile{
    display:block;
    justify-content: space-between;
  }
  #music-profile img{
    border: 2px solid black;
    border-radius: 50%;;
  }
  #music-profile button{
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    background-color:#fc3c44;
    text-align: center;
    cursor: pointer;
    width: 44%;
    font-size: 18px;
  }
  #music-releases{
    display: flex;
  }
  #inception, #coded-808{
    border: 1px solid lightgray;
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    margin-left:15px;
    background-color: whitesmoke;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
  }
  .card img{
    padding-top: 10px;
  }
  .card button {
    border: none;
    border-radius: 5px;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 40%;
    font-size: 18px;
    margin-bottom: 10px;

  }
  button:hover {
    opacity: 0.7;
  }





  /* --------------------------------------------------------------------
  flip cards 
  ------------------------------------------------------------------------*/

  .flip-card {
    background-color: transparent;
    width: 220px;
    height: 220px;
    border-radius: 5px;
    perspective: 1000px;

  }
  
  .flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 5px;
  }
  

  .flip-card-back {
    background-color: skyblue;
    color: white;
    transform: rotateY(180deg);
    width:220px;
    height:220px;
    border-radius: 5px;
  }

  /* override the border of the imgs in the block divs */
  .flip-card img{
    border-radius: 5px;
    width: 220px;
    height: 220px;
    border: 0px;
    position: relative;
  }
  .flip-card h5, .flip-card p{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }